.container {
    width: Min(90%, 69.375rem);
    margin: 0 auto;
}

.container-medium {
    width: Min(90%, 40.875rem);
    margin: 0 auto;
}

.container-small {
    width: Min(90%, 33.75rem);
    margin: 0 auto;
}